body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
    /* 1rem = 10px; */
}

p, li, a{
    font-weight: 400;
    letter-spacing: 0.1rem;
}

a{
    text-decoration: none;
}

    
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6.6rem 1.4rem;
}

.centeeer button{
    background-color: transparent;
    border-radius: 0.5rem;
    color: white;
    font-size: rem;
}



.section-navbar{
    background-color: #2C3A61;
}
.line{
    width: 100%;
    height: 0.1rem;
}
.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;
}
.section-navbar-two .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;
}
.section-navbar .navbar ul{
    display: flex;
    list-style: none;
    gap: 2.8rem;
    text-align: center;
    align-items: center;

    & li a{
        color: white;
        text-transform: capitalize;
        font-weight: 500;
    }

}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 2.8rem;
    text-align: center;
    align-items: center;

    & li a{
        color: black;
        text-transform: capitalize;
        font-weight: 500;
    }

}
.contact{
    position: relative;

}
.contact-img{
    background-image: url(./image/Rectangle\ 25.png);

}


.contact img{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;


}

.sort{
    width: 3rem;
    
}
.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;
}

.cont ul{
    display: flex;
    list-style: none;
    gap: 2.8rem;
    text-align: center;
    align-items: center;

    & li {
        color: #1B1D1F;
        text-transform: capitalize;
        font-weight: 500;
    }

}



.section{
    padding-top: 12rem;
}
.section-heading{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
    color: black;
}

.pad-top{
    padding-top: 1rem;
}

.section-pera{
    text-align: center;
    font-size: 1.2rem;
    color: rgb(86, 84, 84);
}

.center{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.grid{
    display: grid;
    
}
.grid-three{
    grid-template-columns: repeat(3, 1fr);
    
}
.mar{
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    position: relative;
    display: inline-block;
    
}
.mar img{
    max-width: 100%;
}
.grid-two{
    grid-template-columns: repeat(2, 1fr);
}

.grid-two img{
    max-width: 100%;
}



.headind-section{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
}
.mar .img {
    display: block;
    width: 100%;
    height: auto;
}
.text{
    position: absolute;
    top: 7%;
    left: 6%;
    border-radius: 5px;
}
.text-one{
    position: absolute;
    top: 20%;
    left: 6%;
    color: white;
    border-radius: 5px;
}


/* section 2 */
.bg-color{
    background-color:rgb(234, 231, 231);
}
.grid-four{
    grid-template-columns: repeat(4, 1fr);
}
.sell-one{
    padding-top: 2rem;
}
.sell{
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.sell-one img{
    max-width: 100%;
}
.sell img{
    max-width: 30%;
}
.sell-heading{
    padding-top: 1.2rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(88, 86, 86);
}
.sell-pera{
    padding-top: 1.8rem;
    font-size: 1rem;
    color: rgb(88, 86, 86);
}
.sell-lern{
    padding-top: 1.2rem;
    font-size: 1rem;
    color: rgb(88, 86, 86);
}
.latest img{
    max-width: 100%;
}

.btn{
    padding: 1rem 1rem;
    width: 28rem;
}
.item{
    align-items: center;
    text-align: center;
}

.latest-one img{
    max-width: 100%;
}
.latest-two img{
    max-width: 60%;
}

.push{
    padding-top: 3rem;
    max-width: 8rem;
}
.contact img{
    max-width: 100%;
    padding-top: 10rem;
}
.fot img{
    max-width: 100%;
}
.headind-section-one{
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
    
}
.fot-img{
    
    padding-bottom: 1rem;
    
}
.footer-column ul li{
    list-style: none;
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
}
.footer-column p{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
}
.item-item{
    padding-left: 2rem;
    padding-top: 5rem;
}


/* Mobile Responsive */
@media (max-width: 768px) {
    .section-navbar .navbar,
    .section-navbar-two .nav-links {
      display: none;
    }
    .cont {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }
    
    .nav-link{
        display: none;
    
    }
    
    .container{
        width: auto;
    }
    


    
    .navbar ul {
        display: flex;
        gap: 1.4rem;
    }

    .navbar ul li {
        margin: 10px 0;
    }
    img {
        max-width: 100%;
        height: auto;
    }
   
    
    .grid-three,  .grid-two {
        grid-template-columns: 1fr; 
    }
    .fout{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .footer-column ul{
        padding-left: 0;
        
    }


    .footer {
        margin-top: 5rem;
      }
      .item-item{
        padding-left: 0rem;
        padding-top: 0rem;
    }
    .text-text li{
        gap: 0;
        margin-left: 0;
        padding-left: 0;
    }
    .social-icons{
        display: flex;
        justify-items: center;
    }
    
}




